@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
	--roxo-escuro: #3d0066;
	--roxo-medio: #510087;
	--roxo-claro: #5c0099;
	--amarelo-escuro: #fdc500;
	--amarelo: #ffd500;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
}
#bodyHome {
	background-color: var(--roxo-escuro);
}

#content {
	display: grid;
	place-items: center;
	width: auto;
	height: 200px;
	margin-top: 200px;
	/* background-color: pink; */
	text-align: center;
}

#title {
	color: white;
	font-size: 100px;
}

#buttons {
	display: flex;
	gap: 100px;
}

.button,
.btnSoma,
.btnSubtracao,
.btnMultiplicacao,
.btnDivisao {
	background-color: var(--roxo-claro);
	border: none;
	padding: 10px 30px;
	color: var(--amarelo);
	border-radius: 7px;
	font-size: 18px;
	transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.button:hover,
.btnSoma:hover,
.btnSubtracao:hover,
.btnMultiplicacao:hover,
.btnDivisao:hover {
	background-color: var(--roxo-medio);
	color: var(--amarelo-escuro);
	transform: scale(1.1);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#footer {
	text-align: center;
	margin-top: 250px;
	font-size: 0.6em;
	color: white;
}

/* Output pages */

.bodyoutput {
	background-color: white;
}

.headerOutput {
	display: flex;
	background-color: var(--roxo-medio);
	place-items: center;
	gap: 400px;
}

#headerOutputHex {
	display: flex;
	background-color: var(--roxo-medio);
	place-items: center;
	gap: 350px;
}

.title-left {
	color: var(--amarelo);
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 15px;
}

.title-center {
	color: white;
	margin-left: 0px;
}

#title-center-hex {
	margin-left: 20px;
}

#btnHome {
	margin-left: 200px;
}

#btnHomeOctal,
#btnHomeHex {
	margin-left: 230px;
}

#btnHomeHex {
	margin-left: 230px;
}

.inputContainer {
	display: grid;
	place-items: center;
	margin-top: 40px;
}

.textInputContainer {
	color: var(--amarelo);
}

.inputNumber, .inputCalc {
	background-color: var(--roxo-medio);
	border: none;
	padding: 10px 50px;
	margin-top: 10px;
	color: white;
	text-align: center;
	font-size: 15px;
	border-radius: 10px;
}

.inputNumber::placeholder {
	font-style: italic;
}

#btnConverter {
	margin-top: 20px;
	font-size: 13px;
}

.outputs {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 70px;
	gap: 100px;
}

.divOutputs {
	background-color: var(--amarelo);
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 200px;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.divOutputs h3 {
	color: white;
	font-size: 30px;
	margin-top: 20px;
}

.divOutputs .txtResultado {
	color: white;
	margin-top: 30px;
}

.divOutputs .outputResultado {
	color: var(--roxo-medio);
	margin-top: 10px;
}

.containerCalculo {
	margin-top: 90px;
	margin-bottom: 30px;
	display: grid;
	place-items: center;
}

.container-calc-button {
	margin-top: 20px;
}

.title-operacoes {
	color: var(--roxo-medio);
	font-size: 20px;
}

.btnSoma,
.btnDivisao,
.btnMultiplicacao,
.btnSubtracao {
	font-size: 13px;
}

.containerTextsInputs {
	margin-top: 20px;
	display: flex;
	gap: 180px;
}

.textsInputs {
	color: var(--amarelo);
}

.inputCalc {
	border: none;
	padding: 10px 10px;
}

.containerResultado {
	display: flex;
	margin-top: 20px;
	gap: 100px;
	background-color: var(--amarelo);
	padding: 20px;
	border-radius: 20px;
}

.containerResultado p {
	color: var(--roxo-medio);
}

.containerResultado span {
	color: var(--roxo-medio);
}
